* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #89986D;
    padding: 8px;
    margin: 8px;
    border: 5px solid #3f472f;
}

ul {
    margin: 24px
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #89986D;
    padding: 8px;
    margin: 8px;
    border: 5px solid #3f472f;
}

p {
    margin: 8px;
}

ol {
    margin: 24px
}
